* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    min-height: 100vh;
    font-size: 18px;
    /* padding: 0px 100px; */

}


.first-pg {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'poppings' sans-serif;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(bg-hero-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(236, 246, 249);

}

.pg1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 40px 0;
    font-size: 18px;
    align-self: start;
    justify-content: start;
    font-family: 'poppins', sans-serif;

}

.pg1 img {
    margin-bottom: 100px;
}

.para {
    font-size: 13.5px;
    margin: 20px 0;
}

.bt1 {
    background-color: hsl(322, 100%, 66%);
    border-radius: 40px;
    border-color: hsl(322, 100%, 66%);
    padding: 10px;
    max-width: 250px;
}

.pg2 {
    display: inline-flex;
    flex-direction: column;
    padding: 0 50px;
}

.bt1 a {
    color: white;
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

.pg2 button {
    align-self: self-end;
    justify-self: self-end;
    margin: 50px -50px;
    width: 40%;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 40px;
    border-color: white;

}

.content {
    width: 100%;
    /* margin: 50px; */
    padding: 100px 0px 200px 200px;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid goldenrod; */
    background-color: white;
}

.p1,
.p2,
.p3 {
    display: flex;
    place-items: center;
    width: 100%;
    max-width: 1000px;
    border: 5px solid whitesmoke;
    font-size: 14px;
    color: gray;
    border-radius: 20px;
    margin: 30px 50px;
    padding: 30px;
    font-family: 'poppins', sans-serif;
    align-content: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px -1px 5px 8px rgba(245, 245, 245, 0.56);
    -webkit-box-shadow: 0px -1px 5px 8px rgba(245, 245, 245, 0.56);
    -moz-box-shadow: 0px -1px 5px 8px rgba(245, 245, 245, 0.56);
}

.p2 {
    display: flex;
    flex-direction: row-reverse;
}

h2 {
    margin: 10px 0;
    color: black;
}

.image1 {
    margin-left: 250px;
}

.image2 {
    margin-right: 250px;
}

.image3 {
    margin-left: 250px;
}

.consol {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    font-size: 15px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin-top: -130px;
    padding: 40px 70px;
    font-family: 'poppins', sans-serif;
    background-color: white;

}

.consol p {
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    margin: 30px;
}

.consol button {
    border-radius: 40px;
    padding: 20px 50px;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.consol button a {
    color: white;
    font-weight: 600;
}

footer {
    display: grid;
    place-items: center;
    background-color: hsl(192, 100%, 9%);
    color: whitesmoke;
    padding: 0 0 0 80px;
    position: relative;
    bottom: 0px;
    font-family: 'poppins', sans-serif;
    font-size: 13px;
}

.img {
    border: none;
}

.column {
    float: left;
    width: 30%;
    /* max-width: 800px; */
    margin: 100px 20px;
    justify-self: center;
    /* background-color: aqua; */
}

.column h1 {
    margin-bottom: 20px;
}

.column p {
    margin: 20px 30px 20px 0;
}

.column ul {
    column-count: 2;
    text-decoration: none;
    list-style-type: none;
    margin: 60px 0;

}

.column ul li {
    margin: 13px;
}

.image {
    margin: 60px 0;
}

.parag {
    justify-self: end;
    margin-bottom: 40px;
    margin-right: 40px;
    font-size: 10px;
}

@media screen and (max-width: 375px) {

    main {
        background-color: hsl(209, 27%, 22%);
    }

}

@media screen and (max-width: 1440px) {

    main {
        background-color: hsl(208, 53%, 50%);
    }

}